<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="guide" id="license" xml:lang="ro">
  
  <info>
    <link type="seealso" xref="index"/>
    <revision pkgversion="2.30" version="0.1" date="2009-12-28" status="draft"/>
    <desc>Informații legale.</desc>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Daniel Șerbănescu</mal:name>
      <mal:email>daniel [at] serbanescu [dot] dk</mal:email>
      <mal:years>2010, 2017, 2018</mal:years>
    </mal:credit>
  </info>

  <title>Licență</title>
  <p>Această lucrare este distribuita sub licența neportată CreativeCommons Attribution-Share Alike 3.0.</p>
  <p>Sunteți liberi să:</p>
  <terms>
    <item>
      <title>Pentru a partaja</title>
      <p>Să copiați, distribuiți și transmiteți munca.</p>
    </item>
    <item>
      <title>Să modificați</title>
      <p>Adaptați munca.</p> 
    </item>
  </terms>
  <p>În conformitate cu condițiile următoare:</p>
  <terms>
    <item>
      <title>Atribuire</title>
      <p>Trebuie să atribuiți lucrare într-o manieră specificată de autor sau licensor (dar nu într-un fel care sugerează că ei vă aprobă pe dumneavoastră sau utilizarea dumneavoastră a lucrării).</p>
    </item>
    <item>
      <title>Share Alike</title>
      <p>Dacă modificați, transformați, sau construiți ceva plecând de la această lucrare, puteți distribui rezultatul numai sub termenii aceleiași, similare sau compatibile licență.</p>
    </item>
  </terms>
  <p>Pentru întregul conținut al licenței, consultați <link href="https://creativecommons.org/licenses/by-sa/3.0/legalcode">pagina web CreativeCommons</link>, sau citiți în întregime <link href="https://creativecommons.org/licenses/by-sa/3.0/">Commons Deed</link>.</p>
</page>
