<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="topic" id="difficulty" xml:lang="sv">
      
  <info>
    <title type="sort">2</title>
    <link type="guide" xref="index#play"/>
    <desc>Ändra svårighetsgraden för spelen.</desc>
    <revision pkgversion="2.30" version="0.1" date="2010-01-10" status="draft"/>
    <revision pkgversion="2.30" version="0.2" date="2010-01-20" status="review"/>
   <credit type="author">
    <name>Milo Casagrande</name>
    <email>milo@ubuntu.com</email>
   </credit>
   <license>
     <p>Creative Commons DelaLika 3.0</p>
   </license>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Josef Andersson</mal:name>
      <mal:email>josef.andersson@fripost.org</mal:email>
      <mal:years>2015</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Anders Jonsson</mal:name>
      <mal:email>anders.jonsson@norsjovallen.se</mal:email>
      <mal:years>2016</mal:years>
    </mal:credit>
  </info>

  <title>Svårighetsgrader</title>
  <p>För att ändra svårighetsgraden på spelet, gör följande:</p>
  <steps>
    <item>
      <p>Välj <guiseq><gui style="menu">Inställningar</gui><gui style="menuitem">Inställningar</gui></guiseq>.</p>
    </item>
    <item>
      <p>I avsnittet <gui>Svårighetsgrad</gui>, välj önskad nivå.</p>
      <p>Du kan välja tre olika svårighetsgrader: <gui style="radiobutton">Lätt</gui>, <gui style="radiobutton">Medel</gui>, and <gui style="radiobutton">Mästare</gui>. Standardnivån är <gui style="radiobutton">Medel</gui>.</p>
    </item>
  </steps>
</page>
