<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="topic" id="pause" xml:lang="hi">
      
  <info>
    <title type="sort">4</title>
    <link type="guide" xref="index#play"/>
    <link type="seealso" xref="newgame"/>
    <desc>How to pause or end a game.</desc>
    <revision pkgversion="2.30" version="0.1" date="2010-01-10" status="draft"/>
    <credit type="author">
      <name>Milo Casagrande</name>
      <email>milo@ubuntu.com</email>
    </credit>
    <license>
      <p>Creative Commons Share Alike 3.0</p>
    </license>
  </info>

  <title>Pause/End a game</title>

  <section id="pause-pause">
    <title>विरामित और फिर खेल का अरम्ब</title>
    <p>
      To pause a game so that you can resume it at the same point at a later 
      time, perform one of the following:
    </p>
    <list>
      <item>
        <p>
          Choose <guiseq><gui style="menu">Game</gui><gui style="menuitem">Pause Game</gui></guiseq>.
        </p>
      </item>
      <item>
        <p>
          Click on the <gui style="button">Pause</gui> button in the toolbar.
        </p>
      </item>
    </list>
    <p>
      In order to resume the game after you paused it, perform one of the following:
    </p>
    <list>
      <item>
        <p>
          Choose <guiseq><gui style="menu">Game</gui><gui style="menuitem">Pause Game</gui></guiseq>.
        </p>
      </item>
      <item>
        <p>
          Click on the <gui style="button">Resume</gui> button in the toolbar.
        </p>
      </item>
    </list>
  </section>
  
  <section id="pause-stop">
    <title>End a game</title>
    <p>
      To end a game, perform one of the following:
    </p>
    <list>
      <item>
        <p>
          Choose <guiseq><gui style="menu">Game</gui><gui style="menuitem">End Game</gui></guiseq>.
        </p>
      </item>
      <item>
        <p>
          Click on the <gui style="button">End</gui> button in the toolbar.
        </p>
      </item>
    </list>
  </section>
</page>
