<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="topic" id="history" xml:lang="de">
  <info>
    <link type="guide" xref="index#play"/>
    <desc>So gelangen Sie zu Ihrer persönlichen Spielchronik.</desc>
    <revision pkgversion="2.30" version="0.1" date="2010-01-22" status="draft"/>
    <credit type="author">
      <name>Milo Casagrande</name>
      <email>milo@ubuntu.com</email>
    </credit>
    <license>
      <p>Creative Commons Share Alike 3.0</p>
    </license>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Wolfgang Stöggl</mal:name>
      <mal:email>c72578@yahoo.de</mal:email>
      <mal:years>2010</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Paul Seyfert</mal:name>
      <mal:email>pseyfert@mathphys.fsk.uni-heidelberg.de</mal:email>
      <mal:years>2011</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Mario Blättermann</mal:name>
      <mal:email>mario.blaettermann@gmail.com</mal:email>
      <mal:years>2017, 2018</mal:years>
    </mal:credit>
  </info>

  <title>Persönliche Spielchronik</title>
  
  <p>Der Dialog <gui>Spielchronik des Spielers</gui> zeigt Ihre Leistung in jedem Spiel während der letzten Spielsitzungen.</p>
  
  <section id="history-personal">
    <title>Spielchronik ansehen</title>
    <p>Um zu Ihrer persönlichen Spielchronik zu gelangen, wählen Sie <guiseq><gui style="menu">Ansicht</gui><gui style="menuitem">Spielchronik des Spielers</gui></guiseq>.</p>
  </section>
  
  <section id="history-change-graphic">
    <title>Wählen Sie, welche Ergebnisse angezeigt werden sollen</title>
    <p>Verwenden Sie die verschiedenen Ankreuzfelder unterhalb der Grafik, um die Ergebnisse auszuwählen, die in der Grafik angezeigt werden sollen.</p>
  </section>
  
  <section id="history-save-prefs">
    <title>Anzahl der gespeicherten Spiele ändern</title>
    <p><app>gbrainy</app> speichert die Ergebnisse des Spielers, so dass diese mitverfolgt werden können.</p>
    <p>Um die Anzahl an gespeicherten Spielsitzungen zu ändern oder auch wie viele Spiele in der Chronik gespeichert werden, gehen Sie wie folgt vor:</p>
    <steps>
      <item>
        <p>Wählen Sie <guiseq><gui style="menu">Einstellungen</gui><gui style="menuitem">Einstellungen</gui></guiseq>.</p>
      </item>
      <item>
        <p>Im Abschnitt <gui>Spielchronik des Spielers</gui>:</p>
        <list>
          <item>
            <p>Verwenden Sie das erste Einstellfeld, um die Anzahl an Spielsitzungen zu ändern, die gespeichert werden müssen, so dass die Ergebnisse erstmals in der Verlaufsgrafik angezeigt werden.</p>
          </item>
          <item>
            <p>Das zweite Einstellfeld dient zur Änderung der Anzahl an Spielsitzungen, die in der Verlaufsgrafik angezeigt werden.</p>
          </item>
        </list>
      </item>
    </steps>
  </section>
</page>
