<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" xmlns:its="http://www.w3.org/2005/11/its" type="guide" id="index" style="2column" xml:lang="de">

  <info>
    <title type="link">gbrainy</title>
    <title type="text">gbrainy</title>
    <revision pkgversion="2.30" version="0.1" date="2010-01-10" status="draft"/>
    <revision pkgversion="2.30" version="0.2" date="2010-02-09" status="draft"/>
    <title type="link">gbrainy</title>
    <desc>Die <app>gbrainy</app> Hilfe.</desc>
    <credit type="author">
      <name>Milo Casagrande</name>
      <email>milo@ubuntu.com</email>
    </credit>
    <license>
      <p>Creative Commons Share Alike 3.0</p>
    </license>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Wolfgang Stöggl</mal:name>
      <mal:email>c72578@yahoo.de</mal:email>
      <mal:years>2010</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Paul Seyfert</mal:name>
      <mal:email>pseyfert@mathphys.fsk.uni-heidelberg.de</mal:email>
      <mal:years>2011</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Mario Blättermann</mal:name>
      <mal:email>mario.blaettermann@gmail.com</mal:email>
      <mal:years>2017, 2018</mal:years>
    </mal:credit>
  </info>

  <title><media type="image" mime="image/png" src="figures/gbrainy.png" its:translate="no">gbrainy logo</media> gbrainy</title>

  <section id="play" style="2column">
    <title>Grundlagen des Spiels</title>
  </section>

  <section id="multi" style="2column">
    <title>Mehrspielermodus</title>
  </section>
  
  <section id="tips" style="2column">
    <title>Tipps und Tricks</title>
  </section>

</page>
