<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="guide" id="license" xml:lang="de">
  
  <info>
    <link type="seealso" xref="index"/>
    <revision pkgversion="2.30" version="0.1" date="2009-12-28" status="draft"/>
    <desc>Rechtliche Hinweise.</desc>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Wolfgang Stöggl</mal:name>
      <mal:email>c72578@yahoo.de</mal:email>
      <mal:years>2010</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Paul Seyfert</mal:name>
      <mal:email>pseyfert@mathphys.fsk.uni-heidelberg.de</mal:email>
      <mal:years>2011</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Mario Blättermann</mal:name>
      <mal:email>mario.blaettermann@gmail.com</mal:email>
      <mal:years>2017, 2018</mal:years>
    </mal:credit>
  </info>

  <title>Lizenz</title>
  <p>Diese Arbeit ist lizenziert unter einer Creative Commons Attribution-Share Alike 3.0 Unported License.</p>
  <p>Es ist Ihnen gestattet:</p>
  <terms>
    <item>
      <title>Freizugeben</title>
      <p>Das Werk bzw. den Inhalt zu vervielfältigen, zu verbreiten und öffentlich zugänglich zu machen.</p>
    </item>
    <item>
      <title>Änderungen vorzunehmen</title>
      <p>Abwandlungen und Bearbeitungen des Werkes bzw. Inhaltes anzufertigen.</p> 
    </item>
  </terms>
  <p>Unter den folgenden Bedingungen:</p>
  <terms>
    <item>
      <title>Zuschreibung</title>
      <p>Sie dürfen das Werk nur unter gleichen Bedingungen weitergeben, wie Sie vom Autor oder Lizenzgeber festgelegt wurden (aber nicht so, dass es wie Ihr Werk aussieht).</p>
    </item>
    <item>
      <title>Share Alike</title>
      <p>Wenn Sie das lizenzierte Werk bzw. den lizenzierten Inhalt bearbeiten, abwandeln oder in anderer Weise erkennbar als Grundlage für eigenes Schaffen verwenden, dürfen Sie die daraufhin neu entstandenen Werke bzw. Inhalte nur unter Verwendung von Lizenzbedingungen weitergeben, die mit denen dieses Lizenzvertrages identisch, vergleichbar oder kompatibel sind.</p>
    </item>
  </terms>
  <p>Den vollständigen Text der Lizenz finden Sie auf der <link href="https://creativecommons.org/licenses/by-sa/3.0/legalcode">CreativeCommons-Webseite</link>. Oder Sie können den vollständigen <link href="https://creativecommons.org/licenses/by-sa/3.0/">Commons Deed</link> lesen.</p>
</page>
