<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="topic" id="export" xml:lang="pl">
      
  <info>
    <link type="guide" xref="index#play"/>
    <desc>Eksportowanie zadań do gry bez komputera.</desc>
    <revision pkgversion="2.30" version="0.1" date="2010-12-26" status="draft"/>
    <credit type="author">
      <name>Milo Casagrande</name>
      <email>milo@ubuntu.com</email>
    </credit>
    <license>
      <p>Creative Commons Share Alike 3.0</p>
    </license>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Piotr Drąg</mal:name>
      <mal:email>piotrdrag@gmail.com</mal:email>
      <mal:years>2017-2018</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Aviary.pl</mal:name>
      <mal:email>community-poland@mozilla.org</mal:email>
      <mal:years>2017-2018</mal:years>
    </mal:credit>
  </info>

  <title>Eksportowanie zadań</title>
  <p>Można wyeksportować, a następnie wydrukować zadania do gry bez komputera.</p>
  <p>Zadania zostaną zapisane w pliku <file>PDF</file> w wybranym katalogu.</p>
  <p>Aby wyeksportować gry:</p>
  <steps>
    <item>
      <p>Wybierz <guiseq><gui style="menu">Gra</gui><gui style="menuitem">Wyeksportuj do pliku PDF…</gui></guiseq>.</p>
    </item>
    <item>
      <p>Wybierz rodzaje zadań, poziom trudności i liczbę zadań. Następnie kliknij przycisk <gui style="button">Zapisz</gui>.</p>
    </item>
  </steps>

</page>
