<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="topic" id="times" xml:lang="pl">
      
  <info>
    <link type="guide" xref="index#play"/>
    <desc>Zmiana czasu wyświetlania zadań pamięciowych.</desc>
    <revision pkgversion="2.30" version="0.1" date="2010-01-10" status="draft"/>
    <revision pkgversion="2.30" version="0.2" date="2010-01-19" status="review"/>
   <credit type="author">
    <name>Milo Casagrande</name>
    <email>milo@ubuntu.com</email>
   </credit>
   <license>
     <p>Creative Commons Share Alike 3.0</p>
   </license>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Piotr Drąg</mal:name>
      <mal:email>piotrdrag@gmail.com</mal:email>
      <mal:years>2017-2018</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Aviary.pl</mal:name>
      <mal:email>community-poland@mozilla.org</mal:email>
      <mal:years>2017-2018</mal:years>
    </mal:credit>
  </info>

  <title>Zmiana czasu trwania zadań</title>
  <p>Aby zmienić liczbę sekund na zapamiętanie zadania pamięciowego:</p>
  <steps>
    <item>
      <p>Wybierz <guiseq><gui style="menu">Ustawienia</gui><gui style="menuitem">Preferencje</gui></guiseq>.</p>
    </item>
    <item>
      <p>W sekcji <gui>Zadania pamięciowe</gui> użyj pola, aby zwiększyć lub zmniejszyć liczbę sekund, przez jakie zadanie będzie wyświetlane.</p>
      <p>Domyślna wartość to 6 sekund.</p>
    </item>
  </steps>
</page>
