<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="topic" id="customgame" xml:lang="sr">
      
  <info>
    <link type="guide" xref="index#play"/>
    <link type="seealso" xref="newgame"/>
    <link type="seealso" xref="gametypes"/>
    <desc>Започните избор прилагођених игара.</desc>
    <revision pkgversion="2.30" version="0.1" date="2010-01-20" status="draft"/>
    <credit type="author">
      <name>Мило Казагранде</name>
      <email>milo@ubuntu.com</email>
    </credit>
    <license>
      <p>„Creative Commons Share Alike 3.0“</p>
    </license>  
  </info>

  <title>Избор произвољних игара</title>
  <p>Могуће је играти произвољан избор свих игара у <app>г-кефалу</app>.</p>
  <p>Да бисте то урадили, поступите као што следи:</p>
  <steps>
    <item>
      <p>
        Choose <guiseq><gui style="menu">Game</gui><gui style="menuitem">New Game</gui>
        <gui style="menuitem">Custom Game Selection</gui></guiseq>.
      </p>
    </item>
    <item>
      <p>У прозорчету „<gui>Произвољна игра</gui>“, изаберите игре које желите да играте тако што ћете кликнути на поље за потврду поред имена игре.</p>
    </item>
    <item>
      <p>Када сте завршили, кликните „<gui style="button">Почни</gui>“ да започнете са играњем вашег избора произвољних игара.</p>
    </item>
  </steps>
</page>
