<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="topic" id="history" xml:lang="hu">
  <info>
    <link type="guide" xref="index#play"/>
    <desc>Személyes játékelőzmények elérése.</desc>
    <revision pkgversion="2.30" version="0.1" date="2010-01-22" status="draft"/>
    <credit type="author">
      <name>Milo Casagrande</name>
      <email>milo@ubuntu.com</email>
    </credit>
    <license>
      <p>Creative Commons Share Alike 3.0</p>
    </license>
  </info>

  <title>Személyes játékelőzmények</title>
  
  <p>A <gui>Játékos játékelőzményei</gui> ablak megjeleníti teljesítményét az összes játéktípusban a legutolsó néhány befejezett játék alapján.</p>
  
  <section id="history-personal">
    <title>A játékelőzmények megjelenítése</title>
    <p>Személyes játékelőzményei megnyitásához válassza a <guiseq><gui style="menu">Nézet</gui> <gui style="menuitem">Játékos játékelőzményei</gui></guiseq> menüpontot.</p>
  </section>
  
  <section id="history-change-graphic">
    <title>Megjelenítendő eredmények kiválasztása</title>
    <p>Az ábrán megjelenő eredmények kiválasztásához használja a grafikon alatti jelölőnégyzeteket.</p>
  </section>
  
  <section id="history-save-prefs">
    <title>Mentett játékok számának módosítása</title>
    <p>A <app>gbrainy</app> elmenti a játékosok pontszámait, így követheti fejlődésüket.</p>
    <p>A rögzített befejezett játékok számának vagy az előzményekben tárolt játékok számának módosításához tegye a következőket:</p>
    <steps>
      <item>
        <p>Válassza a <guiseq><gui style="menu">Beállítások</gui><gui style="menuitem">Beállítások</gui></guiseq> menüpontot.</p>
      </item>
      <item>
        <p>A <gui>Játékos játékelőzményei</gui> szakaszban:</p>
        <list>
          <item>
            <p>Az első léptetőgomb használatával módosíthatja a rögzítendő befejezett játékok számát, mielőtt az eredmények megjelennek az előzménygrafikonon.</p>
          </item>
          <item>
            <p>A második léptetőgomb használatával módosíthatja az előzménygrafikonon megjelenő befejezett játékok számát.</p>
          </item>
        </list>
      </item>
    </steps>
  </section>
</page>
