<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="guide" id="license" xml:lang="sl">
  
  <info>
    <link type="seealso" xref="index"/>
    <revision pkgversion="2.30" version="0.1" date="2009-12-28" status="draft"/>
    <desc>Pravne podrobnosti.</desc>
  </info>

  <title>Dovoljenje</title>
  <p>To delo je distribuirano pod licenco CreativeCommons Priznanje avtorstva-deljenje pod enakimi pogoji 3.0 neprenesena.</p>
  <p>Lahko</p>
  <terms>
    <item>
      <title>Delite</title>
      <p>Reproducirate, distribuirate, dajate v najem in priobčujete delo javnosti</p>
    </item>
    <item>
      <title>Predelate delo</title>
      <p>Prilagajate delo</p> 
    </item>
  </terms>
  <p>Pod naslednjimi pogoji:</p>
  <terms>
    <item>
      <title>Priznanje avtorstva</title>
      <p>Priznati morate avtorja dela na način, kot ga je določil avtor ali dajalec licence (toda ne na način, ki na kakršenkoli način predlaga, da podpirajo vas ali vašo uporabo dela).</p>
    </item>
    <item>
      <title>Deljenje pod enakimi pogoji</title>
      <p>Če spremenite, preoblikujete ali gradite na tem delu lahko nastalo delo distribuirate le pod enako, podobno ali združljivo licenco.</p>
    </item>
  </terms>
  <p>
    <!-- Translators: there are no official localized versions of the legal code, only the deed is localized. -->
    For the full text of the license, see the 
    <link href="https://creativecommons.org/licenses/by-sa/3.0/legalcode">CreativeCommons website</link>,
    or read the full <link href="https://creativecommons.org/licenses/by-sa/3.0/">Commons Deed</link>.
  </p>
</page>
