<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="topic" id="times" xml:lang="es">
      
  <info>
    <link type="guide" xref="index#play"/>
    <desc>Cambiar el tiempo de la presentación del desafío en los juegos de memoria.</desc>
    <revision pkgversion="2.30" version="0.1" date="2010-01-10" status="draft"/>
    <revision pkgversion="2.30" version="0.2" date="2010-01-19" status="review"/>
   <credit type="author">
    <name>Milo Casagrande</name>
    <email>milo@ubuntu.com</email>
   </credit>
   <license>
     <p>Creative Commons Compartir Igual 3.0</p>
   </license>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Daniel Mustieles</mal:name>
      <mal:email>daniel.mustieles@gmail.com</mal:email>
      <mal:years>2010-2018</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Jorge González</mal:name>
      <mal:email>jorgegonz@svn.gnome.org</mal:email>
      <mal:years>2010</mal:years>
    </mal:credit>
  </info>

  <title>Cambiar la duración del desafío</title>
  <p>Para cambiar el número de segundos que se te proporcionan para memorizar el desafío al jugar juegos de memoria, sigue como se indica:</p>
  <steps>
    <item>
      <p>Elige <guiseq><gui style="menu">Configuración</gui><gui style="menuitem">Preferencias</gui></guiseq>.</p>
    </item>
    <item>
      <p>En la sección <gui>Juegos de memoria</gui> use la casilla incrementable para aumentar o reducir el número de segundos durante los cuáles será visible el desafío.</p>
      <p>El valor predeterminado es de 6 segundos.</p>
    </item>
  </steps>
</page>
