<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="topic" id="gameplay" xml:lang="it">
      
  <info>
    <link type="guide" xref="index"/>
    <desc>Introduzione a <app>gbrainy</app>.</desc>
    <revision pkgversion="2.30" version="0.1" date="2010-01-10" status="draft"/>
    <revision pkgversion="2.30" version="0.1" date="2010-01-21" status="review"/>
    <revision pkgversion="2.30" version="0.1" date="2010-04-05" status="review"/>
   <credit type="author">
    <name>Milo Casagrande</name>
    <email>milo@ubuntu.com</email>
   </credit>
   <license>
     <p>Creative Commons - Condividi allo stesso modo 3.0</p>
   </license>
  </info>

  <title>Gioco</title>
  
  <p>gbrainy è un gioco che stuzzica la mente; lo scopo del gioco è di divertirsi e mantenere allenato il cervello.</p>
  <p>È caratterizzato da diversi tipi di gioco come rompicapi logici, calcoli mentali, esercizi di memoria e analogie verbali ed è progettato per verificare capacità cognitive diverse.</p>
  <p>
    You can choose different difficulty levels making <app>gbrainy</app> 
    enjoyable for kids, adults or senior citizens. It also features a game history, 
    personal records, tips and fullscreen mode support.
  </p>
  <p>
    <app>gbrainy</app> relies heavily on the work of previous puzzle masters, 
    ranging from classic puzzles from ancient times to more recent works like 
    <link href="https://en.wikipedia.org/wiki/Terry_Stickels">Terry Stickels'</link>
    puzzles or the classic <link href="https://en.wikipedia.org/wiki/Dr._Brain">Dr. Brain</link>
    game.
  </p>
  <note>
    <p>Recentemente nella comunità scientifica si è discusso sul fatto se gli esercizi mentali migliorino o no le prestazioni cognitive. La maggior parte degli studi mostrano che non ci sono miglioramenti apprezzabili oppure sono molto lievi, ma ciò non significa che non possiate divertirvi lo stesso con giochi come <app>gbrainy</app>!</p>
  </note>
</page>
