<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="topic" id="pause" xml:lang="it">
      
  <info>
    <title type="sort">4</title>
    <link type="guide" xref="index#play"/>
    <link type="seealso" xref="newgame"/>
    <desc>Come sospendere o terminare una partita.</desc>
    <revision pkgversion="2.30" version="0.1" date="2010-01-10" status="draft"/>
    <credit type="author">
      <name>Milo Casagrande</name>
      <email>milo@ubuntu.com</email>
    </credit>
    <license>
      <p>Creative Commons - Condividi allo stesso modo 3.0</p>
    </license>
  </info>

  <title>Sospendere/Terminare una partita</title>

  <section id="pause-pause">
    <title>Sospendere e riprendere una partita</title>
    <p>Per sospendere una partita in modo da riprenderla dallo stesso punto successivamente, eseguire una delle seguenti operazioni:</p>
    <list>
      <item>
        <p>Scegliere <guiseq><gui style="menu">Partita</gui><gui style="menuitem">Sospendi partita</gui></guiseq>.</p>
      </item>
      <item>
        <p>Fare clic sul pulsante <gui style="button">Sospendi</gui> nella barra degli strumenti.</p>
      </item>
    </list>
    <p>Per riprendere la partita dopo la sospensione, eseguire una delle seguenti operazioni:</p>
    <list>
      <item>
        <p>Scegliere <guiseq><gui style="menu">Partita</gui><gui style="menuitem">Sospendi partita</gui></guiseq>.</p>
      </item>
      <item>
        <p>Fare clic sul pulsante <gui style="button">Riprendi</gui> nella barra degli strumenti.</p>
      </item>
    </list>
  </section>
  
  <section id="pause-stop">
    <title>Termina una partita</title>
    <p>Per terminare una partita, eseguire una delle seguenti operazioni:</p>
    <list>
      <item>
        <p>Scegliere <guiseq><gui style="menu">Partita</gui><gui style="menuitem">Termina partita</gui></guiseq>.</p>
      </item>
      <item>
        <p>Fare clic sul pulsante <gui style="button">Fine</gui> nella barra degli strumenti.</p>
      </item>
    </list>
  </section>
</page>
