<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="topic" id="times" xml:lang="it">
      
  <info>
    <link type="guide" xref="index#play"/>
    <desc>Cambiare la durata di visualizzazione degli oggetti nei giochi di memoria.</desc>
    <revision pkgversion="2.30" version="0.1" date="2010-01-10" status="draft"/>
    <revision pkgversion="2.30" version="0.2" date="2010-01-19" status="review"/>
   <credit type="author">
    <name>Milo Casagrande</name>
    <email>milo@ubuntu.com</email>
   </credit>
   <license>
     <p>Creative Commons - Condividi allo stesso modo 3.0</p>
   </license>
  </info>

  <title>Cambiare la durata di visualizzazione</title>
  <p>Per cambiare il numero di secondi a disposizione per memorizzare gli oggetti nei giochi di memoria, procedere come segue:</p>
  <steps>
    <item>
      <p>Scegliere <guiseq><gui style="menu">Impostazioni</gui><gui style="menuitem">Preferenze</gui></guiseq>.</p>
    </item>
    <item>
      <p>Nella sezione <gui>Giochi di memoria</gui>, usare la casella di selezione numerica per aumentare o diminuire il numero di secondi di visibilità degli oggetti.</p>
      <p>Il valore predefinito è 6 secondi.</p>
    </item>
  </steps>
</page>
