<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="topic" id="gameplay" xml:lang="ru">
      
  <info>
    <link type="guide" xref="index"/>
    <desc>Введение в <app>gbrainy</app>.</desc>
    <revision pkgversion="2.30" version="0.1" date="2010-01-10" status="draft"/>
    <revision pkgversion="2.30" version="0.1" date="2010-01-21" status="review"/>
    <revision pkgversion="2.30" version="0.1" date="2010-04-05" status="review"/>
   <credit type="author">
    <name>Мило Касагранде (Milo Casagrande)</name>
    <email>milo@ubuntu.com</email>
   </credit>
   <license>
     <p>Creative Commons Share Alike 3.0</p>
   </license>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Юрий Мясоедов</mal:name>
      <mal:email>omerta13@yandex.ru</mal:email>
      <mal:years>2011</mal:years>
    </mal:credit>
  </info>

  <title>Сценарий игры</title>
  
  <p><app>gbrainy</app> — это игра для тренировки интеллекта. Цель игры — совместить элементы интеллектуальной работы и игры.</p>
  <p>На выбор предоставляется несколько различных типов игр: логические головоломки, вычисления в уме, упражнения на память и словесные аналогии.</p>
  <p><app>gbrainy</app> позволяет изменять уровень сложности, чтобы этой программой могли пользоваться дети, взрослые и пожилые люди. Приложение ведёт историю, сохраняет личные рекорды, а также поддерживает подсказки и полноэкранный режим работы.</p>
  <p>В основе <app>gbrainy</app> лежат труды создателей головоломок, начиная от классических головоломок и заканчивая новыми головоломками <link href="https://en.wikipedia.org/wiki/Terry_Stickels">Терии Стикелса</link>, а также классическая игра <link href="http://en.wikipedia.org/wiki/Dr._Brain">Dr. Brain</link>.</p>
  <note>
    <p>В научном сообществе ведутся споры, может ли программное обеспечение такого рода развивать познавательные способности. Большинство исследований показало, что познавательные способности либо не изменяются, либо изменяются очень незначительно, но это не значит, что вы не сможете хорошо провести время, играя в <app>gbrainy</app>!</p>
  </note>
</page>
