<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="topic" id="difficulty" xml:lang="uk">
      
  <info>
    <title type="sort">2</title>
    <link type="guide" xref="index#play"/>
    <desc>Зміна рівня складності гри.</desc>
    <revision pkgversion="2.30" version="0.1" date="2010-01-10" status="draft"/>
    <revision pkgversion="2.30" version="0.2" date="2010-01-20" status="review"/>
   <credit type="author">
    <name>Milo Casagrande</name>
    <email>milo@ubuntu.com</email>
   </credit>
   <license>
     <p>Creative Commons Share Alike 3.0</p>
   </license>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Юрій Чорноіван</mal:name>
      <mal:email>yurchor@ukr.net</mal:email>
      <mal:years>2020</mal:years>
    </mal:credit>
  </info>

  <title>Рівні складності</title>
  <p>Щоб змінити рівень складності гри, виконайте такі дії:</p>
  <steps>
    <item>
      <p>Виберіть пункт меню <guiseq><gui style="menu">Параметри</gui><gui style="menuitem">Налаштування</gui></guiseq>.</p>
    </item>
    <item>
      <p>У розділі <gui>Рівень складності</gui> виберіть бажаний рівень.</p>
      <p>Ви можете вибрати один з трьох різних рівнів: <gui style="radiobutton">Простий</gui>, <gui style="radiobutton">Середній</gui> і <gui style="radiobutton">Важкий</gui>. Типовим рівнем є <gui style="radiobutton">Середній</gui>.</p>
    </item>
  </steps>
</page>
