<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="topic" id="gameplay" xml:lang="uk">
      
  <info>
    <link type="guide" xref="index"/>
    <desc>Вступ до <app>gbrainy</app>.</desc>
    <revision pkgversion="2.30" version="0.1" date="2010-01-10" status="draft"/>
    <revision pkgversion="2.30" version="0.1" date="2010-01-21" status="review"/>
    <revision pkgversion="2.30" version="0.1" date="2010-04-05" status="review"/>
   <credit type="author">
    <name>Milo Casagrande</name>
    <email>milo@ubuntu.com</email>
   </credit>
   <license>
     <p>Creative Commons Share Alike 3.0</p>
   </license>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Юрій Чорноіван</mal:name>
      <mal:email>yurchor@ukr.net</mal:email>
      <mal:years>2020</mal:years>
    </mal:credit>
  </info>

  <title>Ігровий процес</title>
  
  <p><app>gbrainy</app> — гра-головоломка; метою гри є розважити гравця та потренувати його чи її розумові здібності.</p>
  <p>У програмі передбачено різні типи ігор, зокрема логічні головоломки, ігри на обчислення без калькулятора, ігри на тренування пам'яті та словесні аналогії. Гру розроблено для вправляння у різних когнітивних навичках.</p>
  <p>Ви можете вибирати рівень складності гри, що робить <app>gbrainy</app> цікавим для малих дітей, дорослих та людей у віці. Також у грі передбачено журнал ігор, особисті записи, підказки та підтримку повноекранного режиму.</p>
  <p>У <app>gbrainy</app> широко використано попередні розробки головоломок, від класичних, відомих ще з давніх часів, до доволі сучасних робіт, зокрема головоломок <link href="https://en.wikipedia.org/wiki/Terry_Stickels">Террі Стіклза (Terry Stickels)</link> та класичної гри <link href="https://en.wikipedia.org/wiki/Dr._Brain">Dr. Brain</link>.</p>
  <note>
    <p>Науковці досі сперечаються щодо того, чи можуть програмні засоби «тренування» мозку поліпшити когнітивні навички. Переважна частина досліджень показує, що такі ігри мають незначний вплив на ці навички або не мають впливу взагалі. Втім, це не означає, що ви не зможете отримати задоволення від цих ігор, зокрема від <app>gbrainy</app>!</p>
  </note>
</page>
