<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="topic" id="pause" xml:lang="uk">
      
  <info>
    <title type="sort">4</title>
    <link type="guide" xref="index#play"/>
    <link type="seealso" xref="newgame"/>
    <desc>Як призупинити або завершити гру.</desc>
    <revision pkgversion="2.30" version="0.1" date="2010-01-10" status="draft"/>
    <credit type="author">
      <name>Milo Casagrande</name>
      <email>milo@ubuntu.com</email>
    </credit>
    <license>
      <p>Creative Commons Share Alike 3.0</p>
    </license>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Юрій Чорноіван</mal:name>
      <mal:email>yurchor@ukr.net</mal:email>
      <mal:years>2020</mal:years>
    </mal:credit>
  </info>

  <title>Призупинення та завершення гри</title>

  <section id="pause-pause">
    <title>Призупинення та відновлення гри</title>
    <p>Щоб призупинити груп і повернутися до неї згодом, виконайте одну з таких дій:</p>
    <list>
      <item>
        <p>Виберіть пункт меню <guiseq><gui style="menu">Гра</gui><gui style="menuitem">Призупинити гру</gui></guiseq>.</p>
      </item>
      <item>
        <p>Натисніть кнопку <gui style="button">Пауза</gui> на панелі інструментів.</p>
      </item>
    </list>
    <p>Щоб відновити гру після призупинення, виконайте одну з таких дій:</p>
    <list>
      <item>
        <p>Виберіть пункт меню <guiseq><gui style="menu">Гра</gui><gui style="menuitem">Призупинити гру</gui></guiseq>.</p>
      </item>
      <item>
        <p>Натисніть кнопку <gui style="button">Продовжити</gui> на панелі інструментів.</p>
      </item>
    </list>
  </section>
  
  <section id="pause-stop">
    <title>Завершення гри</title>
    <p>Щоб завершити гру, виконайте одну з таких дій:</p>
    <list>
      <item>
        <p>Виберіть пункт меню <guiseq><gui style="menu">Гра</gui><gui style="menuitem">Завершити гру</gui></guiseq>.</p>
      </item>
      <item>
        <p>Натисніть кнопку <gui style="button">Кінець</gui> на панелі інструментів.</p>
      </item>
    </list>
  </section>
</page>
